<!-- <app-ajvschema (err)="getError($event)" [data]="data"></app-ajvschema>

<div>{{errmsg}}</div>

<div [innerHTML]="omittedErrMsg"></div>


<ace-editor  (tabSelected)="RetriveErrorMsg($event)" [appSchemadommarker]="shemaErrors" #aceEditor [(text)]="data_json"  (textChanged)="textChanged($event)" mode="json" style="height:400px;"></ace-editor>




<div class="abc" errmsg="fewfwefwe">123</div> -->


<!-- directive and component hooks order -->
<app-comp [appDirec]="123" ></app-comp>


<!-- Custom Value Access Learning -->
<custom-access-value-wrapper></custom-access-value-wrapper>



<custom-value-access-wrapper></custom-value-access-wrapper>


<!-- custom bridges -->
<!-- <custom-access-value-wrapper>
    <custom-bridge-a></custom-bridge-a>
</custom-access-value-wrapper>

<custom-access-value-wrapper>
    <custom-bridge-b></custom-bridge-b>
</custom-access-value-wrapper> -->



<!-- multi provide -->
<app-dependency-inject-wrapper></app-dependency-inject-wrapper>


<!-- any tests -->
<!-- <app-tests></app-tests> -->



<!-- bootstrap -->
<app-bootstrap></app-bootstrap>