<!--<app-util></app-util>-->

<!-- <app-animate></app-animate> -->
<!--<app-output-in-component></app-output-in-component>-->
<!--<app-use-as-component></app-use-as-component>-->

<!--<app-content-parent></app-content-parent>-->



<!-- Call tests are inside  -->

<!--<app-counter-component></app-counter-component>-->
<!--<app-component-with-spy></app-component-with-spy>-->

<!--<app-form-control-component></app-form-control-component>-->
<!--<app-test></app-test>-->



<app-dashboard-ngrx></app-dashboard-ngrx>

<app-tab-select></app-tab-select>
